.u-section-1 .u-sheet-1 {
  min-height: 415px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  margin: 75px -17px 0 1004px;
}

.u-section-1 .u-image-1 {
  width: 112px;
  height: 112px;
  margin: -3px 48px 0 auto;
}

.u-section-1 .u-text-2 {
  font-weight: 700;
  width: 128px;
  margin: -135px auto 0;
}

.u-section-1 .u-btn-1 {
  --radius: 6px;
  font-weight: 700;
  font-size: 0.9375rem;
  border-style: solid;
  margin: 119px 489px 0 auto;
  padding: 8px 33px;
}

.u-section-1 .u-image-2 {
  width: 104px;
  height: 155px;
  margin: -184px auto 0;
}

.u-section-1 .u-text-3 {
  font-weight: 700;
  margin: -155px 963px 0 24px;
}

.u-section-1 .u-image-3 {
  width: 141px;
  height: 141px;
  margin: -16px auto 0 24px;
}

.u-section-1 .u-btn-2 {
  --radius: 6px;
  font-weight: 700;
  font-size: 0.9375rem;
  border-style: solid;
  margin: -7px auto 0 14px;
  padding: 8px 33px;
}

.u-section-1 .u-btn-3 {
  --radius: 6px;
  font-weight: 700;
  font-size: 0.9375rem;
  border-style: solid;
  margin: -41px 35px 60px auto;
  padding: 8px 33px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    margin-top: -187px;
    margin-left: 804px;
  }

  .u-section-1 .u-image-1 {
    margin-top: 14px;
  }

  .u-section-1 .u-text-2 {
    width: 153px;
    margin-top: -115px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 292px;
    margin-right: 289px;
  }

  .u-section-1 .u-text-3 {
    margin-top: -178px;
    margin-right: 787px;
    margin-left: 22px;
  }

  .u-section-1 .u-image-3 {
    margin-top: 174px;
  }

  .u-section-1 .u-btn-2 {
    margin-left: 0;
  }

  .u-section-1 .u-btn-3 {
    margin-top: -231px;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 308px;
    margin-right: -281px;
    margin-left: 855px;
  }

  .u-section-1 .u-image-1 {
    margin-top: -161px;
    margin-right: 47px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: -281px;
    margin-right: 412px;
    margin-left: 426px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: -349px;
    margin-right: 69px;
  }

  .u-section-1 .u-text-3 {
    margin-top: 148px;
    margin-right: 567px;
  }

  .u-section-1 .u-btn-3 {
    margin-top: -234px;
    margin-right: 34px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    margin-top: -174px;
    margin-left: 404px;
  }

  .u-section-1 .u-image-1 {
    margin-top: 14px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 132px;
    margin-right: 0;
  }

  .u-section-1 .u-text-3 {
    margin-top: -160px;
    margin-right: 387px;
  }

  .u-section-1 .u-btn-3 {
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    margin-top: 237px;
    margin-right: -420px;
    margin-left: 607px;
  }

  .u-section-1 .u-image-1 {
    width: 30px;
    height: 30px;
    margin-top: 59px;
    margin-right: auto;
    margin-left: -50px;
  }

  .u-section-1 .u-text-2 {
    margin-top: -330px;
    margin-right: -546px;
    margin-left: 760px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 227px;
    margin-right: -736px;
  }

  .u-section-1 .u-image-2 {
    margin-top: -140px;
  }

  .u-section-1 .u-text-3 {
    width: auto;
    margin-top: -283px;
    margin-right: -483px;
    margin-left: 692px;
  }

  .u-section-1 .u-image-3 {
    width: 107px;
    height: 107px;
    margin-top: -52px;
    margin-left: -50px;
  }

  .u-section-1 .u-btn-2 {
    margin-top: 68px;
    margin-right: -355px;
    margin-left: auto;
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-1 .u-btn-3 {
    margin-top: 47px;
    margin-right: -362px;
  }
}